{% extends 'base.html' %}

{% block content %}
<h1>All Cakes</h1>
<div class="row">
    {% for cake in products %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ cake.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ cake.name }}</h5>
                <p class="card-text">AU${{ cake.price }}</p>
                <a href="#" class="btn btn-primary">ADD to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}